$showMenu: false;

.Menu {
  width: 30px;
  height: 50px;
  display: flex;
  
  &:hover {
    cursor: pointer;

    @if $showMenu {
      ul {
        display: none;
      }
      $showMenu: false;
    } @else {
      ul {
        transform: translate(-20%) scale(1);
        opacity: 1;
      }
      $showMenu: true;
    }
  }
}

.Menu__label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 20px;
  position: relative;
  left: -50px;
  padding-left: 50px;
  background-color: black;
  z-index: 1;
  cursor: pointer;
}

.Menu__container {
  display: flex;
  align-items: center;
  height: 100%;
  list-style: none;
  opacity: 0;
  padding: 0;
  margin: 0;
  z-index: 0;
  transform: translate(-150%) scale(0);
  transition: all 1s cubic-bezier(0.82, 1.35, 1, 0.99);
}

.Menu__container__items {
  width: max-content;
  height: max-content;
  margin-left: -50px;
}
