.Character {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Character__header {
  align-self: flex-start;
  margin-bottom: 20px;
}

.Character__header a {
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

.Character__header__title {
  text-decoration: underline;
}

.Character__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Character__body__container {
  padding-left: 20px;
}

.Character__body__picture {
  width: 80%;
  height: 30%;
  border-radius: 50px;
  animation: CharacterImage .7s ease-in;
}

.Character__body__title {
  margin-bottom: 0;
}

.Character__body__features {
  display: flex;
  justify-content: center;
  animation: CharacterFeatures .7s ease-in;

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 10px;

    li {
      list-style: none;
      padding: 15px;
      margin: 0 10px 10px 0px;
      background-color: rgba(rgb(65, 64, 64), 0.3);
      border-radius: 100px;
    }
  }
}

.Character__body__filmsCount {
  margin-bottom: 0;
}

.Character__body__filmsList {
  display: flex;
  flex-direction: column;
  animation: CharacterFilms .7s ease-in;

  ul {
    list-style: none;
    width: max-content;
    padding-left: 10px;
    
    li {
      padding: 10px 15px;
      
      &:before {
        content: '🎬 ';
      }

      .Character__body__filmsList__filmName {
        font-weight: 700;
      }
    }
  }
}

@keyframes CharacterImage {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes CharacterFeatures {
  0% {
    transform: translate(-100px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes CharacterFilms {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) {
  
}

@media only screen and (min-width: 992px) {
  .Character__body {
    flex-direction: row;
    width: 60%;
  }

  .Character__body__picture {
    width: 40%;
    height: 30%;
    border-radius: 50px;
  }
}
