@import '../../App.scss';

.CharacterList__header__title {
  text-align: center;
}

.CharacterList__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.CharacterList__footer {
  text-align: center;
}
