.Home {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home__header {
  align-self: flex-start;
}

.Home__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home__body__logo {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .Home__header__logo {
    width: 30%;
  }
}

@media only screen and (min-width: 992px) {
  .Home__body__logo {
    width: 20%;
  }

  .Home {
    padding: 50px;
  }
}
