@import '../../App.scss';

.Home {
  padding: 50px 20px;
}

.Home__header {
  text-align: center;
}

.Home__header__logo {
  width: 100%;
}

.Home__footer {
  text-align: center;
}

.Home__footer__loadMore {
  width: 250px;
  height: 80px;
  background-color: black;
  color: white;
  border: 2px solid $baseColor;
  border-radius: 4px;
  outline: none;
  font-size: 1.5rem;

  &:hover {
    cursor: pointer;
  }
}
