$primary-color: rgba(254, 239, 109, 0.75);

.App {
  background-image: url('./assets/images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  color: white;
  min-height: 100vh;
  height: 100%;
  cursor: url('./assets/cursors/lightsaber_red.png'), auto;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba($primary-color, 0.07);
  
  &:hover {
    background: rgba($primary-color, 0.2);
  }
}

.twinkling {
  background: transparent url('./assets/images/twinkling.png') repeat top center; 
  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}