$baseColor: rgba(254, 239, 109, 0.75);

.App {
  background-image: url('./assets/images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  color: white;
  min-height: 100vh;
  height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba($baseColor, 0.07);
  
  &:hover {
    background: rgba($baseColor, 0.2);
  }
}
