$baseColor: rgba(254, 239, 109, 0.75);

.App {
  background-image: url('./assets/images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  color: white;
}
